<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>List</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">NO.</th>
            <th scope="col">MN</th>
            <th scope="col">CN</th>
            <th scope="col">Uploader</th>
            <th scope="col">Phone</th>
            <th scope="col">UploadDate</th>
          </tr>
        </thead>
        <tbody>
            <%var i=1%>
              <%for(doc of doc_list){%>
                <tr>
                    <th scope="row"><%=i%></th>
                    <td><%=doc.mn%> </td>
                    <td><%=doc.cn%></td>
                    <td><%=doc.name%></td>
                    <td><%=doc.phone%></td>
                    <td><%=doc.date%></td>
                </tr>
                <%i=i+1%>
              <%}%>
            </tbody>
      </table>
</body>
</html>
